* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.login-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e50914;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: #f40612;
    transform: translateY(-2px);
}
.container{
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 50px 150px;
}
.form-page{
    width: 50%;
    display: flex;
    flex-direction: row;
    background-color: rgb(32, 32, 32);
    padding: 30px;
}
.heading {
    background-image: url("../images/ContactUS.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingtxt {
    color: white;
    font-size: 2.5rem;
    padding: 10px 20px;
    border-radius: 8px;
}
.information{
    padding: 30px;
}
.iconinfo{
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 20px;
    max-width: 600px;
    margin: auto;
    padding: 25px;
}
.iconinfo span,
.iconinfo p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.iconinfo span {
    font-size: 28px;
    margin-bottom: 10px;
}
.map {
    margin-top: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
#inp,#textarea{
    width: 400px;
    padding: 5px 10px;
    height: 35px;
    border: none;
    background-color: rgba(128, 128, 128, 0.292);
    color:white;
    margin: 10px 0px 25px 0px;
    border-radius: 5px;
}
#textarea{
    height: 130px;
    resize: none;
}
#inp::placeholder,#textarea::placeholder{
    color: white;
}
#textarea:focus,#inp:focus{
    transition: 0.5s ;
    outline: none;
}

#subbtn{
    width: 400px;
    height: 35px;
    border-radius:5px;
    background-color: rgba(128, 128, 128, 0.292);
    border: none;
}
#subbtn:hover{
    cursor: pointer;

}
